section#activities
  h1 Membership Activities
  each activity in contentful.clubactivities
    - var img_src = "background: url(" + encodeURI(asset(activity.photo)) + "); background-size: cover"
    .container
      .images-wrapper(
        style=img_src
      )
      div(
        itemprop="makesOffer"
        itemscope
        itemtype="http:/schema.org/Offer"
      )
        div(itemprop="category")= activity.category
        div(
          itemprop="itemOffered"
          itemscope
          itemtype="http://schema.org/Product"
        )
          div(itemprop="description")= activity.description
  .button-wrapper
    button.off-page-jump See More Membership Activities